@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.jumbotron.special {
    position: relative;
    min-height: 330px;
    margin-bottom: 0;
    overflow: hidden;
    text-align: center;
    background-color: #FAEBD7;
    background-image: url("../img/0107_5.png");
    background-repeat: no-repeat;
    background-position: 25% center;
    -webkit-background-size: 40% 40%;
    background-size: 40%;

}

.jumbotron.special .outline {
    margin-top: 90px;
}

.jumbotron.special h1 {
    font-family: Montserrat, sans-serif;
}

